@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Chrome safari and Opera  */
::-webkit-scrollbar {
  display: none;
}

/* IE EDGE  */
body {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.emty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  height: 100vh;
  position: fixed;
}
.emty h1 {
  font-size: 25px;
  font-weight: bold;
}
